.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.oddish{
    grid-row: 1/3;
    height: 100%;
}

.oddish,.gloom,.vileplume{
    border:5px solid rgba(46, 38, 114, 0.589);
}